<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<!-- [#FFC5C5] Carne, [#FF5580] Fucsia, [#493628] Cafe oscuro -->
<body class="bg-zinc-50">
    <!-- Nav -->
    <nav id="navbar" class="fixed top-0 left-0 right-0 z-20 bg-[#FFC5C5] h-16"></nav>
    <!-- Contenedor Principal -->
    <main class="flex h-screen max-w-7xl mx-auto justify-center items-center px-4 gap-10">
        <div class="hidden lg:flex w-2/4 justify-center items-center px-4">
            <svg fill="#FF5580" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve">
                <g>
                    <circle cx="16" cy="16" r="2"/>
                    <path d="M29.6,5.2C29.3,5,29,4.9,28.7,5.1c-4.3,1.4-8.7,0.3-12-2.8c-0.4-0.4-1-0.4-1.4,0c-3.3,3.1-7.7,4.2-12,2.8
                        C3,4.9,2.7,5,2.4,5.2C2.2,5.4,2,5.7,2,6c0,15.7,6.9,20.9,13.6,23.9C15.7,30,15.9,30,16,30s0.3,0,0.4-0.1C23.1,26.9,30,21.7,30,6
                        C30,5.7,29.8,5.4,29.6,5.2z M22.3,17.5c-0.1,0.2-0.3,0.4-0.5,0.4c-0.5-0.1-1.1,0.2-1.3,0.7c-0.3,0.5-0.2,1.1,0.1,1.5
                        c0.2,0.2,0.1,0.5-0.1,0.7c-0.7,0.7-1.7,1.2-2.6,1.5c0,0-0.1,0-0.1,0c-0.2,0-0.4-0.1-0.5-0.3c-0.2-0.5-0.7-0.8-1.2-0.8
                        s-1,0.3-1.2,0.8c-0.1,0.2-0.4,0.4-0.6,0.3c-1-0.3-1.9-0.8-2.6-1.5c-0.2-0.2-0.2-0.5-0.1-0.7c0.3-0.4,0.4-1,0.1-1.5
                        c-0.3-0.5-0.8-0.7-1.3-0.7c-0.3,0-0.5-0.1-0.5-0.4c-0.1-0.5-0.2-1-0.2-1.5s0.1-1,0.2-1.5c0.1-0.2,0.3-0.4,0.5-0.4
                        c0.5,0.1,1.1-0.2,1.3-0.7c0.3-0.5,0.2-1.1-0.1-1.5c-0.2-0.2-0.1-0.5,0.1-0.7c0.7-0.7,1.7-1.2,2.6-1.5c0.2-0.1,0.5,0.1,0.6,0.3
                        c0.2,0.5,0.7,0.8,1.2,0.8s1-0.3,1.2-0.8c0.1-0.2,0.4-0.4,0.6-0.3c1,0.3,1.9,0.8,2.6,1.5c0.2,0.2,0.2,0.5,0.1,0.7
                        c-0.3,0.4-0.4,1-0.1,1.5c0.3,0.5,0.8,0.7,1.3,0.7c0.3,0,0.5,0.1,0.5,0.4c0.1,0.5,0.2,1,0.2,1.5S22.4,17,22.3,17.5z"/>
                </g>
            </svg>
        </div>
        <form id="form"
            class="flex py-8 flex-col gap-4 bg-[#FF5580]/20 px-4 rounded-lg text-lg shadow-lg w-full md:w-9/12 lg:w-2/4">
            <p class="font-bold text-lg text-[#493628]">Solo los administradores pueden loguearse</p>
            <div class="flex flex-col gap-2">
                <label class="font-bold" for="email-input">Email <span
                        class="text-red-500 text-zinc-900">*</span></label>
                <input id="email-input" type="text" name="email-input" autocomplete="off"
                    class="rounded-lg p-2 bg-zinc-100 focus:outline-[#493628]/80">
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-bold" for="password-input">Contraseña <span
                        class="text-red-500 text-zinc-900">*</span></label>
                <input id="password-input" type="password" name="password-input" autocomplete="off"
                    placeholder="Ingresa tu contraseña" class="rounded-lg p-2 bg-zinc-100 focus:outline-[#493628]/80">
                <p id="error-text" class="text-sm text-red-600"></p>
            </div>
            <button id="form-btn"
                class="bg-[#493628] py-2 px-4 rounded-lg font-bold text-white hover:bg-[#221913] text-center transition ease-in-out disabled:opacity-40 disabled:cursor-not-allowed">
                Iniciar sesion
            </button>
        </form>
    </main>
    <!-- Footer -->
    <footer class="w-full pb-4 pt-6 px-8 fixed bottom-0 bg-[#493628]">
        <div class="flex flex-col md:flex-row md:justify-center text-center text-white/80">
            <div class="md:border-r-2 md:border-white/80 md:pr-8">
                <p>Estamos ubicados en El Vigía, Mérida, Venezuela</p>
                <div class="my-6 mx-auto w-fit hover:scale-x-110 transition-all">
                    <a href="/contacto" class="py-3 px-8 w-full max-w-80 border-2 border-white rounded-lg">¡CONTACTANOS!</a>
                </div>
            </div>
            <div class="md:pl-8">
                <p>Desarrollado por Luisana Arcias</p>
                <p>Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="/components/nav.js"></script>
    <script src="index.js"></script>
    <!-- <script src="index.js"></script> -->
</body>


</html>